# node_modules for backend & frontend
backend/node_modules/
frontend/node_modules/

# build folders (React build output)
frontend/build/

# environment files
*.env
*.env.local
*.env.development
*.env.production

# logs
*.log
npm-debug.log*

# IDE files
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
